body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000; 
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center;
    max-width: 600px;
    width: 100%;
    gap: 10px; 
}

h1 {
    font-size: 2rem;
    line-height: 1.4;
    font-weight: bold;
    color: #fff;
}

h1 strong1 {
    color: #00e7ff; 
    text-shadow: 0 0 10px #00e7ff;
}

h3 {
    font-size: 1rem; 
    line-height: 1.6;
    margin-top: 2px; 
}

.links {
    margin-top: 10px; 
    display: flex;
    gap: 10px;
    justify-content: center;
}

.links a {
    padding: 15px 25px; 
    font-size: 1.2rem; 
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.links a:first-child {
    background-color: #00e7ff; 
    color: #000;
}

.links a:last-child {
    background-color: #00e7ff; 
    color: #000;
}

.links a:hover {
    transform: scale(1.1);
}

img {
    border-radius: 20px;
    max-width: 300px; 
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 231, 255, 0.6); 
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.05);
}
